:root {
  --primary-color: #FFA500;
  --secondary-color: #FFC107;
  --background-color-light: #FFFFFF;
  --text-color-light: #000000;
  --background-color-dark: #121212;
  --text-color-dark: #FFFFFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease;
}

.light {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}
